@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-dark: rgb(15 15 15);
  --color-bg: rgb(26 26 26);
  --color-txt: rgb(255 250 225);
  --color-link: rgb(0 150 80);
  --pad: 14px;
  --pad-small: 0.3rem;
  --pad-line: 1.25em;
  --pad: 1rem;
  --pad-section: 3rem;
  --width-wide: 1200px;
  --width-content: 680px;
  --size-small: .9rem;
  --size-base: 1.4rem;
  --size-medium: 2rem;
  --size-large: 65px;
  --size-xlarge: 90px;
  --lineheight: 1.25;
  --wdth: 60;
  --wght: 450;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: var(--size-base);
}

@font-face {
  font-family: "Magmatic VF";
  src: url(../fonts/Magmatic-VF.woff2);
}
.magmatic {
  font-family: "Magmatic VF";
  font-variation-settings: "wdth" 100, "wght" var(--wght);
}

@font-face {
  font-family: "Amira";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Amira-Regular.woff2);
}
@font-face {
  font-family: "Amira";
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/Amira-Italic.woff2);
}
@font-face {
  font-family: "Amira";
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Amira-SemiBold.woff2);
}
@font-face {
  font-family: "Amira";
  font-style: italic;
  font-weight: 600;
  src: url(../fonts/Amira-SemiBoldItalic.woff2);
}
@font-face {
  font-family: "Caper";
  font-style: normal;
  src: url(../fonts/Caper-VFVF.woff2);
}
body {
  background: var(--color-bg);
  color: var(--color-txt);
  font-family: "Caper";
  font-weight: normal;
  font-variation-settings: "wdth" 95, "wght" 380, "ital" 0;
  letter-spacing: 0.02em;
  font-size: var(--size-base);
  line-height: var(--lineheight);
}

em {
  font-style: normal;
}

header, footer, section {
  max-width: var(--width-content);
  width: 90%;
  margin: var(--pad-section) auto;
}

a {
  color: var(--color-txt);
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid;
}

a.anchor {
  display: block;
  padding-top: var(--pad);
}

h2 {
  padding: var(--pad-small) 0 calc(var(--pad-small) * 0.9);
  margin-bottom: var(--pad-small);
}

ul {
  margin-bottom: var(--pad-line);
}

p + p, h3, h5 {
  margin-top: var(--pad-line);
}

.caption, header .info, h3, h5, .schedule-header {
  font-size: var(--size-small);
  font-weight: 600;
  letter-spacing: 0.04em;
  font-variation-settings: "wdth" 110, "wght" 500, "ital" 0;
}

li {
  list-style-type: none;
  margin-bottom: 0.3em;
  padding-left: 1em;
  text-indent: -1em;
}
li:before {
  content: "—";
}

.grid, .schedule-item {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: var(--pad-small);
}

header .title {
  grid-column: span 5;
}
header .title h1 {
  font-size: var(--size-medium);
  line-height: 0.95;
}
header .subtitle {
  text-indent: 0.1em;
  margin-top: 0.2em;
}
header .info {
  grid-column: span 3;
}

.schedule-item {
  border-bottom: 1px solid;
  padding: var(--pad-small) 0;
}
.schedule-item .date {
  grid-column: span 3;
}
.schedule-item .topic {
  grid-column: span 5;
}
.schedule-item p {
  margin-bottom: 0;
}

.schedule-header {
  padding-top: 0;
}

summary {
  cursor: pointer;
}

footer {
  border-top: 1px solid;
  padding: var(--pad) 0;
}
footer .people {
  grid-column: span 3;
}
footer .colophon {
  grid-column: span 5;
}

.button {
  margin-top: 2rem;
  display: inline-block;
}

.slides {
  font-size: 16px;
  font-family: "Caper", sans-serif;
  letter-spacing: 0.01em;
  background: black;
  color: white;
  margin: 0;
}
.slides code {
  font-family: "Courier New";
}
.slides .pentameter {
  font-family: "Pentameter VF";
  font-variation-settings: "wdth" var(--wdth), "wght" var(--wght), "slnt" var(--slnt);
}
.slides .quiosco {
  font-family: "Quiosco";
}
.slides .courier {
  font-family: "Courier";
}
.slides .magmatic {
  font-family: "Magmatic VF";
  font-variation-settings: "wdth" 100, "wght" var(--wght);
}
.slides .fontdisplay {
  font-size: 120px;
  text-align: center;
  margin: auto;
}
.slides footer {
  --wdth: 100;
  --wght: 800;
  font-size: var(--size-small);
  letter-spacing: 0.03em;
  position: absolute;
  bottom: 0;
  width: calc(100% - 2 * var(--pad-content));
  display: flex;
  color: var(--color-link);
  border-top: 3px solid var(--color-link);
  padding: var(--pad) 0 calc(var(--pad) + 10px);
  display: flex;
  text-align: left;
  justify-content: space-between;
}
.slides footer .runner-1 {
  flex: 1;
}
.slides footer .runner-2 {
  flex: 1;
  text-align: right;
}
.slides .slide {
  background: black;
  color: white;
  max-width: none;
  position: relative;
  padding: var(--pad) var(--pad-content) var(--pad-content);
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
}
.slides .slide h1, .slides .slide h2, .slides .slide h3, .slides .slide blockquote, .slides .slide figure {
  margin: auto;
}
.slides .dark {
  background: var(--color-dark);
  color: var(--color-bg);
}
.slides .text {
  margin: auto;
}
.slides h1, .slides h2, .slides h3, .slides h4, .slides h5, .slides p {
  font-weight: normal;
  max-width: 32em;
}
.slides blockquote {
  max-width: 16em;
}
.slides em {
  font-style: normal;
  --wght: 800;
}
.slides h1 {
  font-size: var(--size-xlarge);
  line-height: 1;
  --wght: 550;
}
.slides h2 {
  font-size: var(--size-large);
  line-height: 1;
  margin-bottom: var(--pad);
  --wght: 200;
}
.slides h3 {
  font-size: var(--size-medium);
  line-height: 1.2;
}
.slides h4 {
  font-size: var(--size-small);
  --wdth: 100;
}
.slides h5 {
  font-size: var(--size-small);
  --wdth: 100;
  line-height: 1.5;
}
.slides p, .slides li {
  font-size: var(--size-base);
  line-height: 1.4;
  padding-bottom: var(--pad);
  letter-spacing: 0.03em;
  text-align: left;
}
.slides figcaption {
  font-size: calc(var(--size-small) * 1.2);
  line-height: 1.5;
  font-variation-settings: "wdth" 110, "wght" 450, "ital" 0;
  letter-spacing: 0.03em;
  margin-top: 1rem;
  max-width: none;
}
.slides figcaption.screen {
  margin-top: -2rem;
}
.slides blockquote {
  width: 85%;
  font-size: var(--size-medium);
  --wght: 200;
  line-height: 1.2;
  text-indent: -0.5em;
}
.slides blockquote.quote-long {
  font-size: var(--size-medium);
}
.slides a {
  color: var(--color-link);
  text-decoration: none;
  border-bottom: 0.05em solid var(--color-link);
}
.slides a:hover {
  text-decoration: none;
}
.slides ul {
  padding-left: 0;
}
.slides li {
  list-style-type: none;
  padding-bottom: 0;
  font-size: var(--size-medium);
}
.slides .cols {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.slides .col2 {
  grid-column: span 6;
}
.slides .col2 li:before {
  content: "";
}
.slides .col3 {
  grid-column: span 4;
}
.slides .whitebg {
  background: white;
  padding: var(--pad);
}
.slides .numbered {
  padding-left: 5rem;
}
.slides .numbered li {
  list-style-type: decimal;
  font-size: var(--size-medium);
}
.slides .grey {
  background: rgb(220, 220, 220);
}
.slides .ra {
  background: rgb(20, 20, 20);
  color: white;
}
.slides figure {
  width: 100%;
}
.slides .source {
  font-size: 0.8em;
  margin-left: 1em;
}
.slides img, .slides video {
  margin: auto;
  display: block;
  width: auto;
  height: 80vh;
}
.slides .wideimg {
  width: 100%;
  height: auto;
}
.slides .middle {
  height: 100%;
  display: flex;
  align-items: center;
}
.slides .pad {
  padding: var(--pad);
  background: white;
}
.slides .slide.white {
  background: white;
  color: black;
}

.circle {
  margin: auto;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle.inner {
  width: 150px;
  height: 160px;
  background: white;
}
.circle.animate {
  animation: circular 2s linear infinite alternate;
}

.form1 {
  transform: scale(0.3, 1.8);
}

.form2 {
  transform: skew(10deg, 19deg) scale(0.8, 1.5);
}

@keyframes circular {
  0% {
    transform: scale(0.3, 1.8);
  }
  50% {
    transform: skew(10deg, 19deg) scale(0.8, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.circle-illo2 .circle {
  background: white;
}
.circle-illo2 .circle .inner {
  background: black;
}

.circle-illo3 .circle {
  background: var(--color-grey);
}
.circle-illo3 .circle .inner {
  background: black;
}

.arrow {
  font-family: "Occ Arrow";
  font-variation-settings: "wdth" 100;
  position: relative;
  top: -0.1em;
}

.definition {
  width: 65%;
  text-align: left;
}
.definition dt {
  font-size: var(--size-large);
}
.definition dd {
  font-size: var(--size-medium);
  margin-top: 1rem;
}
.definition code {
  font-size: var(--size-base);
  --wght: 600;
}
.definition figcaption {
  margin-top: 1rem;
}

.interpolation .arrow {
  display: flex;
  align-items: center;
  font-size: 80px;
  grid-column: span 1;
}

.interp {
  font-size: 200px;
  grid-column: span 2;
}

.animate {
  animation-play-state: paused;
}

.wghtanimate {
  animation: wghtanimate 1s linear alternate infinite;
}

@keyframes wghtanimate {
  0% {
    font-variation-settings: "wdth" 100, "wght" 100, "slnt" 0;
  }
  100% {
    font-variation-settings: "wdth" 100, "wght" 700, "slnt" 0;
  }
}
.wdthanimate {
  animation: wdthanimate 1s linear alternate infinite;
}

@keyframes wdthanimate {
  0% {
    font-variation-settings: "wdth" 75, "wght" 400, "slnt" 0;
  }
  100% {
    font-variation-settings: "wdth" 125, "wght" 400, "slnt" 0;
  }
}
.maganimate {
  animation: maganimate 1s linear alternate infinite;
}

@keyframes maganimate {
  0% {
    font-variation-settings: "wdth" 100, "wght" 100;
  }
  100% {
    font-variation-settings: "wdth" 100, "wght" 900;
  }
}
.mag-wdth-animate {
  animation: magwdthanimate 1s linear alternate infinite;
}

@keyframes magwdthanimate {
  0% {
    font-variation-settings: "wdth" 50, "wght" 400;
  }
  100% {
    font-variation-settings: "wdth" 150, "wght" 400;
  }
}
.slantanimate {
  --wdth: 100;
  --wght: 400;
  --slnt: 0;
  letter-spacing: -0.01em;
  animation: slantanimate 1s linear alternate infinite;
}

@keyframes slantanimate {
  0% {
    font-variation-settings: "wdth" 80, "wght" 400, "slnt" -16;
  }
  80% {
    font-variation-settings: "wdth" 80, "wght" 400, "slnt" 0;
  }
  100% {
    font-variation-settings: "wdth" 80, "wght" 400, "slnt" 0;
  }
}
.vfanimate {
  animation: pentametervf 4s linear alternate infinite;
}

@keyframes pentametervf {
  0% {
    font-variation-settings: "wght" 100, "wdth" 125, "slnt" 0;
  }
  12.5% {
    font-variation-settings: "wght" 700, "wdth" 125, "slnt" 0;
  }
  25% {
    font-variation-settings: "wght" 700, "wdth" 75, "slnt" 0;
  }
  37.5% {
    font-variation-settings: "wght" 100, "wdth" 75, "slnt" 0;
  }
  50% {
    font-variation-settings: "wght" 100, "wdth" 75, "slnt" -16;
  }
  62.5% {
    font-variation-settings: "wght" 700, "wdth" 75, "slnt" -16;
  }
  75% {
    font-variation-settings: "wght" 700, "wdth" 125, "slnt" -16;
  }
  82.5% {
    font-variation-settings: "wght" 100, "wdth" 125, "slnt" -16;
  }
  100% {
    font-variation-settings: "wght" 100, "wdth" 125, "slnt" 0;
  }
}
.arrowanimate {
  animation: arrowanimate 1s 400ms linear alternate infinite forwards;
}

@keyframes arrowanimate {
  0% {
    font-variation-settings: "wdth" 0;
  }
  100% {
    font-variation-settings: "wdth" 1000;
  }
}
@keyframes show {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
.label {
  font-size: 0.9rem;
  --wght: 600;
  --wdth: 120;
  margin-top: -2px;
  padding: 0 3px;
}

.vector {
  margin: auto;
  display: flex;
  width: 100%;
  padding: 5rem;
}
.vector .endpoint {
  border-radius: 50%;
  background: var(--color-link);
  width: 10px;
  height: 10px;
  padding-top: 5px;
}
.vector .line {
  flex: 1;
  position: relative;
  top: 3px;
}
.vector .linemove {
  position: absolute;
  left: 0;
  width: 100%;
  border-top: 3px solid var(--color-txt);
  animation: extendline 2s 1s linear infinite;
}

@keyframes extendline {
  0% {
    width: 0;
  }
  80% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
table {
  margin: auto;
  font-size: var(--size-base);
  letter-spacing: 0.03em;
  text-align: left;
  border-collapse: collapse;
}
table th {
  --wght: 500;
  border-bottom: 3px solid;
}
table th, table td {
  padding: 0.25em 0.5em;
}

#stars {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  font-size: var(--size-large);
}
#stars .star {
  --wdth: 120;
}

#social {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 5px;
  height: 100%;
}

.socialimg {
  background: black;
  color: white;
  --wdth: 100;
  font-size: 0.5rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 0.5rem;
}

.diagram {
  margin: var(--pad) auto;
  width: 80%;
  max-width: 600px;
  font-size: 16px;
  border: 1px solid var(--color-grey);
  padding: var(--pad);
  position: relative;
  --pos: rgb(255 255 255);
  --whiteshape: rgb(0 0 0);
  background: white;
}
.diagram p {
  font-family: "Times", "Times New Roman", serif;
  font-size: var(--size-small);
  color: black;
}

.area:last-child {
  margin-bottom: 0;
}

.area {
  display: inline-block;
  background: var(--pos);
  border: none;
}

.i1 {
  height: 100px;
  font-size: 210px;
  line-height: 0.8;
  text-align: center;
  font-family: "Times New Roman", serif;
}

.controller {
  position: absolute;
  top: -30px;
  left: -1px;
  height: 30px;
  width: 80px;
}

.switch {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid;
  border-radius: 50%;
}
.switch:hover {
  border-color: var(--color-grey);
  cursor: pointer;
}

.white.switch {
  background: white;
}

.black {
  background: black;
}

.reset {
  border: none;
  margin-left: 5px;
}
.reset::before {
  content: "↻";
  position: relative;
  top: -5px;
}
.reset:hover {
  border: none;
}

#page {
  padding: 2rem 3rem;
}
#page .p1 {
  font-size: 14px;
}

#paragraph p {
  text-indent: 0;
  line-height: 1.5;
  margin-bottom: 1em;
}
#paragraph .area {
  display: inline;
}
#paragraph .p1 {
  line-height: 1;
}
#paragraph .p3 {
  line-height: 2;
}

.p1 {
  font-family: "Times", "Times New Roman", serif;
  margin-top: 0;
  margin-bottom: 0.5rem;
  height: auto;
  letter-spacing: 0;
  text-align: left;
}

.p2 {
  text-indent: 0;
  text-align: justify;
}

.p3 {
  text-align: center;
}

#line p {
  font-size: 30px;
}

#word {
  padding: 0;
}
#word p {
  text-align: center;
  line-height: 1;
  font-size: 4rem;
}
#word .overlay {
  position: relative;
  width: 100%;
  height: 400px;
}
#word .overlay .pos, #word .overlay .neg {
  position: absolute;
  width: 100%;
}

.neg {
  display: none;
}

[data-shapemode=white] {
  background: var(--whiteshape);
}
[data-shapemode=white] .pos {
  display: none;
}
[data-shapemode=white] .neg {
  display: block;
}
[data-shapemode=white] .neg .cls-1 {
  fill: white;
}
[data-shapemode=white]#letter .cls-1 {
  fill: white;
}

[data-shapemode=black] {
  --pos: black;
}
[data-shapemode=black] .pos {
  display: none;
}
[data-shapemode=black] .neg {
  display: block;
}
[data-shapemode=black]#letter .cls-1 {
  fill: var(--pos);
}

.control-char {
  font-size: 50vh;
}

/*# sourceMappingURL=styles.css.map */
